{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
    <div id="home"></div>
{% endblock %}
